/* === Main Wrapper & Title === */
.decor-grid-wrapper {
  background-color: #FFEEC7;
  padding: 10px;
}

.decor-title-heading {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  color: #97538C;
  margin-bottom: 2rem;
}

.decorke-wedding-heading {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(18px, calc(18px + (22 - 18) * ((100vw - 320px) / (480 - 320))), 22px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  margin: clamp(14px, calc(14px + (20 - 14) * ((100vw - 320px) / 160)), 20px) 0;
  color: #97538C;
}


/* === Large Card Default (Desktop) === */
.decor-large-card {
  display: flex;
  background-color: #fff4d3;
  border: 1px solid #f1d7aa !important;
  width: clamp(300px, calc(300px + (400 - 300) * ((100vw - 320px) / 160)), 400px);

  height: clamp(135px, calc(135px + (185 - 135) * ((100vw - 320px) / 160)), 185px);

  top: clamp(8px, calc(8px + (12 - 8) * ((100vw - 320px) / 160)), 12px);

  left: clamp(9px, calc(9px + (15 - 9) * ((100vw - 320px) / 160)), 15px);

  border-radius: clamp(14px, calc(14px + (20 - 14) * ((100vw - 320px) / 160)), 20px);

  border: 1px solid;

  opacity: 1;
  transform: rotate(0deg);
  margin: 0 auto;
 
}


/* Image container */
.decor-large-image-box {
  flex-shrink: 0;
}

/* Image */
.decor-large-img {
  width: clamp(150px, calc(150px + (200 - 150) * ((100vw - 320px) / 160)), 200px);

  height: clamp(135px, calc(135px + (180 - 135) * ((100vw - 320px) / 160)), 180px);

  border-radius: clamp(14px, calc(14px + (20 - 14) * ((100vw - 320px) / 160)), 20px);

  opacity: 1;
  transform: rotate(0deg);
}

/* Content Area */
.decor-large-content {
  padding: clamp(20px, calc(20px + (28 - 20) * ((100vw - 320px) / 160)), 28px) clamp(12px, calc(12px + (20 - 12) * ((100vw - 320px) / 160)), 20px);
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  flex: 1;
}

.decor-large-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #4B4A4A;
  font-size: clamp(26px, calc(26px + (34 - 26) * ((100vw - 320px) / 160)), 34px);

  line-height: 100%;
  letter-spacing: 0%;
}

.decor-large-subtitle {
  font-family: "Outfit", sans-serif;
  font-weight: 500;

  font-size: clamp(18px, calc(18px + (22 - 18) * ((100vw - 320px) / 160)), 22px);

  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #707070ED;
  margin:
    clamp(4px, calc(4px + (6 - 4) * ((100vw - 320px) / 160)), 6px) 0 clamp(16px, calc(16px + (24 - 16) * ((100vw - 320px) / 160)), 24px) 0;
}

.decor-view-btn {
  color: #97538c;
  font-family: "Inter", sans-serif;
  font-weight: 800;

  font-size: clamp(14px, calc(14px + (18 - 14) * ((100vw - 320px) / 160)), 18px);

  line-height: 100%;
  letter-spacing: 0%;

  text-decoration: underline;
  text-decoration-style: solid;
  text-align: left;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.decor-view-btn:hover {
  text-decoration: none;
}


.decor-small-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(12px, calc(12px + (20 - 12) * ((100vw - 320px) / 160)), 20px);
  justify-content: center;
  margin-top: clamp(8px, calc(8px + (12 - 8) * ((100vw - 320px) / 160)), 12px);
}
.decor-small-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.decor-small-card {
  background-color: #FFF4D3;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
  border-radius: 16px;

}

.decor-small-img-box img,
.decor-small-img {
  width: clamp(145px, calc(145px + (195 - 145) * ((100vw - 320px) / 160)), 195px);

  height: clamp(110px, calc(110px + (150 - 110) * ((100vw - 320px) / 160)), 150px);

  border-radius: clamp(16px, calc(16px + (24 - 16) * ((100vw - 320px) / 160)), 24px);

  border: 2px solid #FFF7E5;

  box-shadow: 0px 4px 4px 0px #EDD4A7;

  opacity: 1;
  transform: rotate(0deg);
}

.decor-small-label {
  margin: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #394452;
  font-size: clamp(16px, calc(16px + (20 - 16) * ((100vw - 320px) / 160)), 20px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  text-decoration: underline;
  text-decoration-skip-ink: auto;

}