
  .photo-galary-header {
  color: #97538c;
  font-size: 17px;
  padding: 13px 8px 7px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.thumbnail-gallery {
  padding: 0 10px;
}
img.thumbnail {
  border-radius: 5px;
}
.masonryItem {
  width: auto;
}
.masonryGrid {
  column-count: 3; /* Adjust this for how many columns you want */
  column-gap: 8px; /* Space between the columns */
}
.thumbnail {
  width: 100%;
  margin-bottom: 8px;
}
.photo-galary-header h2 {
  margin-bottom: 0;
}
.title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: unset;
  margin-right: 10px;
}
p.loader-photo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f3f521;
}
/* Popup Overlay */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popupContent {
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  max-width: 98%;
  max-height: 100%;
  overflow: hidden;
}

/* Popup Header */

.popupHeader h2 {
  margin: 0;
}

.closeButton {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

/* Popup Footer */
.popupFooter {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.popupFooter a{
  font-size: 15px;
  color: #bfbfbf;
}
.popupFooter img{
    cursor: pointer;
    filter: invert(90%) sepia(0) saturate(0) hue-rotate(0deg) brightness(90%) contrast(90%);
    margin-left: 10px;
}
svg.svg-inline--fa.fa-arrow-left.fa-xl.closeEffect {
  height: 13px !important;
}
.slick-prev:before, .slick-next:before {
  content: '' !important;
  display: inline-block;
  width: 0;
  height: 0;
}
 .slick-next:before  {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #e2e8f0;
}
.slick-prev:before {
  border-top: 10px solid transparent; 
  border-bottom: 10px solid transparent; 
  border-right: 10px solid #e2e8f0; 
}

/* Optional Image Styling */
.popupImage {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}
.slick-next {
  right: 13px !important;
}
.slick-prev {
  left: 13px !important;
}
.slick-prev, .slick-next {
  z-index: 111 !important;
}
.slick-initialized .slick-slide {
  display: flex !important;
    justify-content: center;
    align-items: center;
    height: 85vh;
    padding: 0px;
}
.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #bfbfbf;
  padding: 0px 12px 0;
}
p.image-index {
  margin-bottom: 0;
  color: #bfbfbf;
  font-size: 13px;
}
/* popup css */
  
@media (max-width: 800px) {
  .masonryGrid {
    column-count: 2; 
    column-gap: 6px;
  }
  .thumbnail {
    margin-bottom: 6px;
  }
}
/* @media (max-width: 481px) {
.popupImage {
  width: 100%;
  max-height: 413px;
  object-fit: contain;
}
} */


