.banner-slider-container {
  width: 100%;
  position: relative;
}

.banner-image {
   height:auto
}

.swiper-pagination {
  position: static;
  margin-top: 0px;
  text-align: center;
}

/* Pagination bullet styling */
.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  background: rgb(159, 158, 158);
  opacity: 1;
  margin: 0 3px;
  border-radius: 50%;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background:#9f6695;
  /* transform: scale(1.2); */
}

.banner-slide-wrapper {
  position: relative;
}
.see-button {
    font-size: 10px;
    position: absolute;
    bottom: 30px;
    left: 25px;
    background-color: transparent;
    color: #97538C;
    border: 1.5px solid #97538C;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 6px #6c757d;
    transition: all 0.3s ease;
}

.see-more-button:hover {
  background-color: #97538C;
  color: white;
}

@media (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
  }
}


@media (max-width: 360px) and (min-width: 321px) {
  .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
  }
}
