.section-small-header {
  color: #97538C;
    font-size: 22px;
    line-height: 4px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-family: cursive;
    letter-spacing: 0;
    line-height: 22px;
  }
  
  .section-small-header-sec {
    color: #F8C15D;
    font-weight: 700;
    padding: 6px 0;
    font-style: italic;
    font-size: 12px;
    text-shadow: 0px 3px 8px #F8C15D;
}
  .hh2 {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 54px;
    line-height: 72px;
    font-weight: 700;
    letter-spacing: 12px;
    text-transform: uppercase;
  }
  
  .section-separator {
    margin-top: 13px;
    margin-bottom: 40px;
  }
  
  .featured-works {
    text-align: center;
    padding: 50px 20px;
    font-family: "Arial", sans-serif;
    /* background-color: #f9f9f9; */
  }
  .photograpy-bannner-sec {
    padding: 17px 15px;
}

  .title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #333;
  }
  
  .slide-container.sec {
    margin: 16px auto;
    width: 97%;
}
  
  .work-item {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 16px 0px;
    border-radius: 5px;
    transition: transform 0.3sease -in-out;
    padding: 10px 4px 5px;
    cursor: pointer;
    width: 24%;
  }
  
  .work-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .work-details {
    padding: 14px 5px;
  }
  
  .work-category {
    font-weight: bold;
    color: #ff6347;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 0.9em;
  }
  
  .work-title {
    text-align: left;
    font-weight: 600;
    font-size: 15px;
    margin-top: 4px;
    color: #97538C;
    line-height: 18px;
    margin-bottom: 14px;
  }
  .Prefred-occ {
    color: #e7a123;
    font-weight: 700;
    padding: -1px 0;
    font-style: italic;
    font-size: 12px;
  }

  p.work-duration , .inclusion-heading{
    font-size: 12px;
}
.photograpy-ook-now {
  background-color: #97538C;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  width: 100%;
  border: none;
  padding: 6px 0;
  font-weight: 500;
}
li.inclusion-item {
  font-size: 12px;
}
  ul.work-inclusions {
    list-style: none;
    min-height: 180px;
    padding: 15px 0 0;
}
.book-now-btn {
    background-color: #97538c;
    color: white;
    padding: 11px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width: 200px;
}
  h5 {
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 32px;
    font-weight: 700;
  }
  
  .work-description {
    position: relative;
    z-index: 1;
    color: #777;
    font-size: 16px;
    line-height: 28px;
    font-family: "Raleway", sans-serif;
  }
  
  p {
    margin-top: 16px;
  }
  
  .works-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;
    }
    .works-container.products {
      flex-direction: column;
      justify-content: flex-start;
      padding: 0 10px;
      gap: initial;
      margin-bottom: 60px;
  }

.sec-prod {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
}
  .work-card-info {
    position: relative;
    overflow: hidden;
    text-align: left;
  }
  
  .button-viewall {
    display: inline-block;
    position: relative;
    padding: 14px 26px;
    border-radius: 28px;
    background-color: #f44a66;
    color: white;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    text-decoration: none;
    cursor: pointer;
    transition: letter-spacing 300ms ease;
    -webkit-transition: letter-spacing 300ms ease;
    border: 0;
    text-align: center;
    margin-top: 100px;
  }

  ul.work-duration {
    min-height: 180px;
  }
  .responsive-image {
    min-width: 100%;;
  }

  @media (max-width: 800px) {
  .responsive-image {
    min-width: 100%;
    height: 118px;
    width: 100%;
}
.photograpy-bannner-sec {
  padding: 9px 0px;
}
.featured-works {
  text-align: center;
  padding: 17px 1px;
}
.section-small-header {
  color: #97538C;
  font-size: 17px;
}
.section-small-header-sec {
  font-size: 11px;
}
.section-separator {
  margin-top: 5px;
  margin-bottom: 18px;
}
.work-item {
  width: 48%;
  padding: 0px 4px 1px;
  margin-bottom: 7px;
}
p.Prefred-occ {
  margin: 0 0 10px 0;
  font-size: 11px;
}
h5.work-title {
  font-size: 12px;
  margin-bottom: 5px;
}
li.inclusion-item {
  font-size: 11px;
}
p.work-duration {
  font-size: 11px;
}
ul.work-duration {
  min-height: 268px;
}
  }