.slider-container {
    /* position: relative; */
    padding-bottom: 20px;
}

.slider-container.dec-grid-section {
    margin-bottom: 22px;
}

.decoreCategory-viewBtn {
    padding: 6px;
    font-size: 16px;
    background-color: #fff;
    text-decoration: underline;
    border: none;
    font-weight: 600;
    color: #9252AA;
}

.category-prod-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    margin-top: auto;
    flex-direction: column;
    padding: 0 8px;
    min-height: 96px;
}



.category-prodName {
    font-size: 12px;
    color: rgb(146, 82, 170);
    font-weight: bold;
    margin: 0;
    /* padding: 5px 2px 9px; */
    min-height: 44px;

}

.category-prod-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.inGrid-items , .inSlider-items {
    position: relative;
    border: 1px solid #efefef;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 6px 16px 0px;
    padding: 2px;
    background-color: #fff;
    width: 48%;

}
.pri_details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.pri_details .discountedPrice {
    color: #444;
    font-weight: 700;
    font-size: 15px;
    text-align: left;
    margin: 10px 0px 7px;
    text-decoration: line-through;
}

.pri_details .prodPrice {
    font-weight: 700;
    font-size: 15px;
    color: #9252AA;
    text-align: left;
    margin: 10px 10px 7px 0;
}



/* .slick-slide {
    margin-left: 8px;
    margin-right: 8px;
    max-height: 230px;
} */


.slider-image {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}
.slick-prev:before,
.slick-next:before {
    color: #9252AA !important;
    font-size: 40px !important;
}

.slick-prev,
.slick-next {
    width: 30px !important;
    height: 30px !important;
}

.slick-next {
    right: 21px !important;
    z-index: 1111 !important;

}

.slick-prev {
    left: 10px !important;
    z-index: 1111 !important;
}

.category-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
@media screen and (min-width: 600px) {
    .category-prod-cards .inGrid-items {
        width: 32%;
    }
    
.category-prodName {
    font-size: 16px;
}
}
@media screen and (min-width: 768px) {
    .category-prod-cards .inGrid-items {
        width: 24%;
    }
    .category-prodName {
        font-size: 18px;
    }
}
/* ================================ */



/* a.view-more-slide.slider-item img {
    height: 199px;
}

.view-more-slide {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 380px;
}

.view-more-chatwith-us {
    width: 100%;
} */


/* 
.category-prod-details p {
    margin: 0;
}

.category-prod-details .price {
    color: #9252AA;
    font-weight: bold;
    font-size: 17px;
} */

/* .category-prod-details .rating {
    font-size: 17px;
    color: rgb(146, 82, 170);
    display: flex;
    align-items: center;
} */

/* .category-prod-details .rating .fa-star {
    margin-left: 8px;
    height: 14px;
    color: #ffc107;
} */



/* .slider-decoration-inner.items-grid a.slider-item {
    width: 24%;
} */
/* 
.slider-decoration-inner.items-grid a.slider-item.view-more-slide {
    background-color: transparent !important;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    display: none;
} */


/* 
@media (max-width: 800px) {
    .slider-decoration-inner.items-grid a.slider-item.view-more-slide {
        background-color: transparent !important;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        display: flex;
    }
}

@media (max-width: 641px) {
    .slider-container.dec-grid-section {
        margin-bottom: 6px;
    }

    .slider-image {
        height: 230px;
        margin-bottom: 8px;
        object-fit: cover;
        grid-row: 1;
    }

    .view-more-slide {
        min-height: 360px;
    }


}

@media (max-width: 468px) {
    .slick-next {
        right: 10px !important;
    }

    .slick-prev,
    .slick-next {
        top: 38% !important;
    }



    .view-more-slide {
        min-height: 252px;
    }

    .slider-image {
        height: 160px;
        margin-bottom: 8px;
        object-fit: cover;
        grid-row: 1;
    }

    .category-prod-details .price,
    .category-prod-details .rating {
        display: flex;
        align-items: center;
    }

    .rating .fa-star {
        margin-left: 4px;
        height: 12px;
    }
} */






/* style={{  }} */