
/* ------------------------------------------------------------------------------------------------------------ */
.category-tabs-outer.has-bg {
  background-color: #fbe6d3;
  padding: 16px;
 
}
.category-tabs-heading{
  font-size: 18px;
    font-weight: 700;
    color: #97538C;
}

.category-tabs-grid {
  display: flex;
  gap: 10px;
  overflow-x: auto;
 padding: clamp(10px, 3.5vw, 14px) 0px clamp(10px, 3.5vw, 14px) clamp(8px, 3vw, 12px);
 scrollbar-width: none;          /* ✅ Firefox */
  -ms-overflow-style: none; 
}

.category-tabs-grid::-webkit-scrollbar {
  height: 1px;
}

.category-tabs-grid::-webkit-scrollbar-thumb {
  background: #97538C;
  border-radius: 10px;
}

.category-tabs-card {
  flex: 0 0 auto;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100px; */
}


.category-tabs-circle {
  width: clamp(80px, 23vw, 100px);
  height: clamp(80px, 23vw, 100px);
  object-fit: cover;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  border: 1px solid #97538C;
  box-shadow: 0px 4.55px 4.55px rgba(151, 83, 140, 0.43);
  margin-bottom: 8px;
}
.category-tabs-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;              
 font-size: clamp(13px, 3.8vw, 16px);
  text-align: center;
  vertical-align: middle;
  color: #97538C;
  white-space: normal;
   display: -webkit-box;
  -webkit-line-clamp: 2;   /* max 2 line */
  -webkit-box-orient: vertical;
  overflow: hidden;
 width: clamp(80px, 23vw, 100px);
  line-height: 1.2;
 
}
  

 