.card-decoration-img{
    height: 250px;
}

@media (max-width: 576px) {
    .card-decoration-img {
        height: 150px;
    }
}

.text-title{
    font-size:14px
}

@media (max-width: 468px){
.text-title {
    font-size: 13px;
}
}