.photo-card {
  overflow: hidden;
  position: relative;
  border: none;
  transition: transform 0.3s ease;
  border-radius: 15px;
  background: #fff;
}

.photo-card:hover {
  transform: scale(1.03);
}

/* ==== Image Wrapper ==== */
.photo-imageWrapper {
  border-radius: 15px;
  position: relative;
  width: 100%;
  height: 180px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}



.photo-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  filter: blur(0.2px);
}

/* ==== Title Wrapper ==== */
.photo-titleWrapper {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  text-align: center;
}

.photo-title {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(10.5px, 3.09vw, 14px);
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

/* ==== Footer ==== */
.photo-footer {
  text-align: center;
  margin-bottom: 10px;
}

.photo-viewMore {
  background: none;
  border: none;
  color: #97538c;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-decoration-offset: 0px;
  cursor: pointer;
  display: inline-block;
}

.photo-viewMore:hover {
  text-decoration: none;
}


@media (max-width: 992px) {
  .photo-imageWrapper {
    height: 340px;
  }

  .photo-viewMore {
    font-size: 19px;
  }
}


@media (max-width: 768px) {
  .photo-card {
    transform: none;
  }
  .photo-imageWrapper {
    height: 270px;
  }
  .photo-viewMore {
    font-size: 16px;
  }
}


@media (max-width: 480px) {
  .photo-imageWrapper {
    height: 180px;
  }

  .photo-viewMore {
    font-size: 13px;
  }
  .photo-footer {
    margin-bottom: 6px;
  }
}

@media (max-width: 340px) {
  .photo-imageWrapper {
    height: 160px;
  }
}

@media (min-width: 360px) and (max-width: 440px) {
  .photo-imageWrapper {
    height: 180px;
  }
}