.logedin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
}
.invite-banner {
  position: relative;
  width: 100%;
  max-width: 600px; /* Optional: control size */
  margin: 0 auto;
}
.banner-image-top{
   width: 100%;
  height: auto;
  display: block;
}
.banner-image {
  width: 100%;
  height: auto;
  display: block;
    margin: 10px 0px 10px 0px;
}

.create-invite-btn {
 position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
    background: white;
    color: #97538C;
    border: none;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: underline;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.create-invite-btn:hover {
  transform: translateX(-50%) translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
}


.event-list-wrapper {
  padding: 10px;
  max-width: 600px;
}

.section-heading {
  text-align: center;
  font-weight: bold;
  color: #1E0F4A;
  margin-bottom: 10px;
}

.event-list {
  max-height: 300px;       
  overflow-y: auto;        
  scrollbar-width: none;  
  -ms-overflow-style: none; 
}


.event-list::-webkit-scrollbar {
  display: none;         
}

.event-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  width: 100%;
  gap: 35px
}

.event-info-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.btn-ctn-event{
  flex-shrink: 0;
  margin-left: auto;
}
.event-icon {
  font-size: 24px;
}

.event-details-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.event-meta {
  margin-bottom: 8px;
}

.event-role {
  color: #2D2D2D;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.list-event-title{
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #646464;
}
.list-event-date{
  font-size: 14px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #646464;
}

.view-btn {
  background-color: #97538C;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.view-btn:hover {
  background-color: #6922bb;
}
