.share-invitation-page {
    min-height: 100vh;
    background-color: #FFDBDB;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.share-invitation-page h2 {
    font-size: 20px;
    font-weight: 700;
    color: #97538C;
    margin-bottom: 5px;
      font-family: 'Aclonica', sans-serif;
}


.share-invitation-page p {
    font-size: 15px;
    color: #3E3B3B;
    margin-bottom: 1px;
    margin-top: 10px
}

.small-text {
    font-size: 12px;
    margin-bottom: 10px;
}


.info-boxes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.info-box {
    flex: 1;
    background: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.info-box img {
    width: 25px;
    height: 25px;
    margin-bottom: 6px;
}

.info-box span {
    display: block;
    font-size: 0.75rem;
    color: #5a2b4f;
    font-weight: 500;
}

.btn-share {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    padding: 0px 0px 0px 10px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: #13A200;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: auto;
}

.btn-share:hover {
    background-color: #13A200;
}

.icon-bg {
    background-color: white;
    padding: 6px 8px;
    /* rectangle padding */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 4px 4px 0px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.icon-img {
    width: 22px;
    height: 22px;
}

.btn-share .icon-img {
    width: 20px;
    height: 20px;
}

.invite-image {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-container {
    margin-top: 10px;
}