.upload-photos-modal-body {
  padding: 12.66px 9.04px 27.12px 9.04px;
}
.upload-option-row {
  padding-inline: 13.11px;
}
.upload-option-col {
  cursor: pointer;
}
.upload-option-col img {
  width: 40.68px;
  height: 40.68px;
}
.upload-option-col p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12.66px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: 0px;
}
.bulk-upload-body {
  margin-top: 26.22px;
}
.bulk-upload-instruction {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 12.66px;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: center;
  padding-inline: 10px;
}
.bulk-upload-input {
  margin-top: 26.22px;
  padding: 12px;
  background-color: #ffffff;
  border: 0.9px solid #808080b2;
  border-radius: 9.04px;
  color: #85949f;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12.66px;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
}
.bulk-upload-input:focus,
.bulk-upload-input:hover,
.bulk-upload-input:active {
  outline: none;
  border: 0.9px solid #333333;
}
.bulk-upload-error-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 9.04px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #FF0000;
  margin-top: 9.04px;
  margin-bottom: 0px;
}
