
.filterWrapper {
  position: relative;
  width: 100%;
}

.filterWrapper.fixed .filterBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} 

.filterBarContainer {
  padding: 10px;
  background: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* wrapper for arrow */
.customSelectWrapper {
  position: relative;
  display: inline-block;
}



/* custom arrow */
.customSelectWrapper::after {
  content: "";
  position: absolute;
  right: 16px;
  top: 50%;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: translateY(-60%) rotate(45deg);
  pointer-events: none;
}

.filterSelect {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: rgb(157, 74, 147);

  padding: 10px 44px 10px 20px; /* ⬅️ RIGHT padding changed */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

.customSelectWrapper:hover::after {
  transform: translateY(-60%) rotate(225deg);
}


.filterSelect option {
  background-color: #fff; 
  color: rgb(157, 74, 147);                         /* white text */
  font-weight: 500;
  padding: 10px;
}

.filterSelect option:checked,
.filterSelect option:hover {
  background-color: #a24392; /* darker purple */
  color: #fff;
}
