.card-skeleton {
  width: 100%;
  max-width: 270px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  margin: 10px 12px 20px;
  transition: transform 0.3s ease-in-out;
}

.skeleton-image-wrapper {
  background-color: #f0f0f0;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeleton-image {
  object-fit: contain;
  max-height: 80%;
  opacity: 0.4;
}
