.banner{
    max-width: 480px;
margin: clamp(18px, 6.37vw, 25px) auto 0;
}
.banner-hero {
  text-align: center;
}

.banner-hero h1 {
  font-family: "Instrument Sans", sans-serif;
  font-size: clamp(18px, 2.5vw, 32px);
  font-weight: 600;
  font-style: normal;
  line-height: 100%;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #464646;
}

.banner-hero p {
  margin: 0px 0px clamp(5px, 0.8vw, 10px);
  font-family: "Roboto", sans-serif;
  font-size: clamp(13px, 1.6vw, 18px);
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  text-transform: capitalize;
  color: #5D5D5D;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}