* {
  box-sizing: border-box;
}

/* Safe-area padding disable */
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

body {
  padding-bottom: calc(0px + var(--sab));
  background-color: #fff;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 100%;

  text-align: center;
  text-decoration: none;

  color: #333;

  /* ---- Your font specs ---- */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.nav-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.chatter-icon .nav-icon {
  width: 26px;
  height: 28px;
  transform: rotate(0deg);
  opacity: 1;
  margin-bottom: 2px !important;
}
.Explore-icon .nav-icon {
  width: 26px;
  height: 28px;
  transform: rotate(0deg);
  opacity: 1;
  margin-bottom: 2px !important;
}

.iframe-wrapper {
  padding-bottom: 100px;
}
.iframe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
  overflow: auto;
  align-items: flex-start;
}
.chat-instruction-popup {
  border: 2px solid rgba(19, 11, 11, 0.86) !important;
  padding-top: 23.54px !important;
}
.chat-instruction-popup-heading {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 21.04px;
  margin-bottom: 0px;
  color: rgba(73, 73, 73, 1);
}
.chat-instruction-popup-subheading {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14.85px;
  line-height: 20px;
  letter-spacing: 0%;
  color: rgba(73, 73, 73, 1);
  margin-top: 5px;
  margin-bottom: 0px;
}
.chat-instruction-popup-btn{
  margin-top: 24.75px;
  margin-bottom: 24.92px;
  width: 70%;
  height: 40px;
  padding-block: 12.38px;
  background: rgba(15, 114, 63, 1);
  border-radius: 6.19px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 14.85px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
