
/* neo bar */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #97538c;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px 0;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 13px; /* slightly bigger text */
  cursor: pointer;
}

.nav-item span {
  margin-top: 5px;
  font-weight: 500;
}

.nav-icon {
  width: 28px; /* bigger default */
  height: 28px;
}

.nav-text {
  font-size: 12px;
}

/* 📱 For screens ≤ 600px */
@media (max-width: 600px) {
  .bottom-nav {
    padding: 14px 0;
  }
  .nav-item {
    font-size: 12px;
  }
  .nav-icon {
    width: 26px;
    height: 26px;
  }

  .nav-text {
    font-size: 12px;
  }
}

/* 📱 For screens ≤ 468px */
@media (max-width: 468px) {
  .bottom-nav {
    padding: 14px 0;
  }
  .nav-item {
    font-size: 11px;
  }
  .nav-icon {
    width: 42px;
    height: 42px;
  }
  .nav-text {
    font-size: 12px;
  }
}

/*  For screens ≤ 368px */
@media (max-width: 368px) {
  .bottom-nav {
    padding: 12px 0;
  }
  .nav-item {
    font-size: 11px;
  }
  .nav-icon {
    width: 42px;
    height: 42px;
  }

  .nav-text {
    font-size: 12px;
  }
}
