html, body {
  padding: 0;
  margin: 0;
  background: #000; 
  height: 100%;
}

body {
  height: 100dvh; /* NOT 100vh */
  background: #000; 
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Safe-area padding disable */
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

body {
  padding-bottom: calc(0px + var(--sab)); 
  background-color: #fff; 
}


.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 100%;

  text-align: center;
  text-decoration: none;

  color: #333;

  /* ---- Your font specs ---- */
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
}

.nav-icon {
  width: 24px;
  height: 24px;
 margin-bottom: 5px;
}

.chatter-icon .nav-icon {
  width: 26px;
  height: 28px;
  transform: rotate(0deg);
  opacity: 1;
   margin-bottom: 2px !important;
}
.Explore-icon .nav-icon{
    width: 26px;
  height: 28px;
  transform: rotate(0deg);
  opacity: 1;
   margin-bottom: 2px !important;
}


.iframe-wrapper{
  padding-bottom: 100px;
}
.iframe-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
    overflow: auto; 
  align-items: flex-start;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

