.love-poses-banner {
  width: 100%;
  max-width: 480px;
  margin:10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #f3edf4;
  border: 1px solid #d8d2dc;

  border-radius: clamp(12px, calc((16 / 393) * 100vw), 18px);
padding: clamp(6px, calc((8 / 393) * 100vw), 10px);
  box-sizing: border-box;
}

.love-poses-left {
  display: flex;
  align-items: center;
  gap: clamp(8px, calc((10 / 393) * 100vw), 12px);

  flex: 1;
  min-width: 0;
}

.love-icon {
  width: clamp(40px, calc((49 / 393) * 100vw), 60px);
height: clamp(40px, calc((49 / 393) * 100vw), 60px);
  border-radius: 50%;

  background: #97538CA6;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: clamp(24px, calc((30 / 393) * 100vw), 36px);

  flex-shrink: 0;
}

.love-content h3 {
  margin: 0 0 4px;

  font-family: 'Rubik', sans-serif;
font-weight: 500;

font-size: clamp(11.4px, calc((14 / 393) * 100vw), 17.1px);

  color: #111;
}

.love-content p {
  margin: 0;

 font-family: 'Rubik', sans-serif;
font-weight: 300;

font-size: clamp(8.14px, calc((10 / 393) * 100vw), 12.21px);


  color: #00000099;
}

.love-btn {
  border: none;

  background: #97538C;
  color: #fff;

  border-radius: clamp(6px, calc((8 / 393) * 100vw), 10px);

  padding:
  clamp(4.9px, calc((6 / 393) * 100vw), 7.3px)
  clamp(8.1px, calc((10 / 393) * 100vw), 12.2px);

font-family: 'Rubik', sans-serif;
font-weight: 500;

font-size: clamp(10px, calc((12 / 393) * 100vw), 15px);

  white-space: nowrap;
  cursor: pointer;

  flex-shrink: 0;
}
