/* .gallery-headerCard {
  display: flex;
  align-items: center;
  gap: 12px;
  overflow-x: auto;
  margin: 18px 0 22px 0px;
} */
.gallery-headerCard {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow-x: auto; 
  scroll-behavior: smooth;
  padding: 20px 0px;
  scrollbar-width: none;    
}

.gallery-headerCard::-webkit-scrollbar {
  display: none;          
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; 
  gap: 8px;
  position: relative;
}
.card-item::after {
  content: "";
  width: 49px;
  height: 7px;
  margin-top: 2px;
  border-radius: 999px;
  background-color: #E9E7E7; 
}
.card-item.active::after {
  background-color: #97538C; 
}
.card-item span {
  font-weight: 600;
  font-size: 14px;
  color: #65758B;
}

.circle-img-folder {
  width: 81px;
  height: 81px;
}

.circle-img-folder_wonderland {
  width: 73px;
  height: 73px;
  border: 1.82px solid rgba(224, 224, 224, 1);
}
.circle-img-both {
border-radius: 50%;
  overflow: visible;        
  border: 1px solid transparent;  
  display: flex;
  align-items: center;
  justify-content: center;
border: 1px solid #0000001F;  
}
.circle-img {
  width: 81px;
  height: 81px;
}
 .circle-img-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.card-item.active .circle-img-inner {
  width: calc(100% - 5px);
  height: calc(100% - 5px);
}

.card-item.active .circle-img-innner-wonderland {
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.card-item .circle-img-innner-wonderland{
  width: calc(100% - 2px) !important;
  height: calc(100% - 2px) !important;
}

.card-item.active .circle-img-folder {
  border: 2px solid #97538C;
}

.card-item.active .circle-img-folder_wonderland {
  border: 1.82px solid rgba(151, 83, 140, 1)
}


.circle-img-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-img.add {
  border:1px solid #0000001F;
}

.circle-img-both.add span {
  font-size: 45px;
  color: #B6ADAD;
  font-weight: 400;
  line-height: 1;        
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup Box */
.popup-box {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-box h3 {
  margin-bottom: 10px;
  color: #97538C;
}

.popup-box p {
  font-size: 14px;
  margin-bottom: 15px;
}

.popup-box button {
  padding: 6px 10px;
  border: none;
  background: #97538C;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.bgContainer{
  background: #D9D9D9;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.capture-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  padding: 2px 0px;
}
.capture-icon{
  height: 16px;
  width: 16px;
}
.captureBtn-container{
 display: flex;
 justify-content: center;
 margin-top: 20px;
}
.captureContainer{
 display: flex;
 justify-content: center;
}

.bgContainer {
  background: #D9D9D9;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.bgContainer video.camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}

.image-picker {
  height: 130px;
  width: 130px;
  background-color: #D9D9D9;
  border-radius: 50%;
  position: relative;
}

.upload-icon {
  position: absolute;
  bottom: 6px;
  right: 6px;
}
.picker-container{
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

.input-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}
.image-picker {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

/* preview image background */
.preview-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* default user icon */
.user-icon-img {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
  z-index: 1;
}

.image-picker {
  height: 130px;
  width: 130px;
  background-color: #D9D9D9;
  border-radius: 50%;
  position: relative;
}

.upload-icon {
  position: absolute;
  bottom: 6px;
  right: 6px;
}

.image-picker{
  height: 130px;
  width: 130px;
background-color: #D9D9D9;
border-radius: 50%;
}
.picker-container{
  text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}
.folderName-input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 12.55px;
  border: 1.25px solid #4A4A4A99;
  color: #4A4A4A;
  background-color: #fff;
  margin-top: 12px;
}

.sub-text {
  font-size: 10.4px;
  color: #7C7C7C;
  margin-top: 4px;
  margin-right: 4px;
  width: 100%;          
  text-align: right;    
}


.image-picker {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

/* preview image background */
.preview-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

/* default user icon */
.user-icon-img {
  width: 60px !important;
  height: 60px !important;
  object-fit: contain;
  z-index: 1;
}
.face-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 212px;      
  height: 212px;

  pointer-events: none; 
  z-index: 5;
}
.captured-circle {
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.create-btn{
  padding: 1px 30px;
}
.edit-myphoto-btn{
  padding: 2px 4px;
  background-color: #97538C;
  color: #fff;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}