.gallery-headerCard {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 15px 8px 5px 8px;
  overflow-x: auto;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; 
}

.card-item p {
  margin-top: 6px;
  font-weight: 600;
  font-size: 14px;
  color: #97538C;
}

.circle-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #97538C;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.circle-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.circle-img.add {
  background: #e6e6e6;
  border:none;
}

.circle-img.add span {
  font-size: 30px;
  color: #97538C;
  font-weight: bold;
}
/* Popup Overlay */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Popup Box */
.popup-box {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.popup-box h3 {
  margin-bottom: 10px;
  color: #97538C;
}

.popup-box p {
  font-size: 14px;
  margin-bottom: 15px;
}

.popup-box button {
  padding: 6px 10px;
  border: none;
  background: #97538C;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.bgContainer{
  background: #D9D9D9;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bgContainer img{
  height: 212px;
  width: 212px;
}
.capture-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
}
.capture-icon{
  height: 18px;
  width: 18px;
}
.captureBtn-container{
 display: flex;
 justify-content: center;
 margin-top: 20px;
}
.captureContainer{
 display: flex;
 justify-content: center;
}

.bgContainer {
  background: #D9D9D9;
  border-radius: 50%;
  height: 230px;
  width: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.bgContainer video.camera-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%; 
}
