.search-bar-container{
   display: flex;
   justify-content: flex-end;
}
.search-bar-container {
  transition: all 0.3s ease;
}
.righysercchefinner {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 4px;
    overflow-y: scroll;
}

.range-bar , .sc-dCKixA.drFMcx.range-bar {
    display: none;
}


.sep-image {
    margin-top: -26px;
    height: 0px;
    margin-left: 10px;
}

.ordersummeryprice {
    margin: 0;
}

.order-container.chef {
    padding: 0;
}

.peoplecontsec {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px 20px 15px;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 13px;
}

.heading {
    font-weight: bold;
    font-size: 18px;
    /* Default font size for desktop */
}

.control-buttons {
    display: flex;
    align-items: center;
}

.control-button {
    background-color: transparent;
    border: none;
}

.control-button img {
    height: 25px;
    width: 25px;
}

.count-display {
    color: rgb(146, 82, 170);
    font-weight: 600;
    font-size: 14px;
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.range-wrapper {
    width: 100%;
}

.range-input {
    -webkit-appearance: none;
    width: 100%;
    height: var(--range-track-height, 6px);
    /* Adjust height as needed */
    background-color: rgb(146, 82, 170);
}

.range-input:focus {
    outline: none;
}

.range-input::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--range-track-height, 6px);
    /* Adjust height as needed */
    background-color: var(--range-color, rgb(146, 82, 170));
    /* Custom color */
    border-radius: 1px;
    /* Adjust if needed */
    border: none;
}

.range-input::-moz-range-track {
    width: 100%;
    height: var(--range-track-height, 6px);
    /* Adjust height as needed */
    background-color: var(--range-color, rgb(146, 82, 170));
    /* Custom color */
    border-radius: 1px;
    /* Adjust if needed */
    border: none;
}

.range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--range-thumb-size, 16px);
    /* Custom thumb (handle) size */
    height: var(--range-thumb-size, 16px);
    /* Custom thumb (handle) size */
    background-color: var(--range-color, rgb(146, 82, 170));
    /* Custom color */
    border-radius: 50%;
    /* Ensure it's round */
    cursor: pointer;
    border: none;
    transform: var(--range-thumb-transform, none);
    /* Apply transform for vertical centering */

}

.range-input::-moz-range-thumb {
    width: var(--range-thumb-size, 16px);
    /* Custom thumb (handle) size */
    height: var(--range-thumb-size, 16px);
    /* Custom thumb (handle) size */
    background-color: var(--range-color, rgb(146, 82, 170));
    /* Custom color */
    border-radius: 50%;
    /* Ensure it's round */
    cursor: pointer;
    border: none;
    transform: var(--range-thumb-transform, none);
    /* Apply transform for vertical centering */

}

/* Dotted track style */
.range-input::-moz-range-track {
    background: linear-gradient(to right, var(--range-color, rgb(146, 82, 170)) 0%, var(--range-color, rgb(146, 82, 170)) var(--percentage, 0%), transparent var(--percentage, 0%), transparent 100%);
}

.range-input::-webkit-slider-runnable-track {
    background: linear-gradient(to right, var(--range-color, rgb(146, 82, 170)) 0%, var(--range-color, rgb(146, 82, 170)) var(--percentage, 0%), transparent var(--percentage, 0%), transparent 100%);
}


.personsectionprice {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #F9E9FF;
    padding: 10px 7px;
}

.info-icon {
    height: 16px;
    width: 16px;
}

.info-text {
    color: #9252AA;
    font-weight: 700;
    margin-left: 5px;
    font-size: 90%;
    margin-bottom: 0;
}

.step2 img {
    width: 72%;
}

.step3 img {
    width: 70%;
}

.whatsapp-cta {
    border: 2px solid #22c55e;
    color: #22c55e;
    background-color: #fff;
}
.button-cta {
    padding: 3px 0;
    font-weight: 700;
    border-radius: 17px;
    transition: transform .3s ease;
    width: 45% !important;
    font-size: 13px;
}
svg.lucide.lucide-message-circle.icon-cta {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}
@media (max-width:800px) {
    /* img.quantiy-icon {
        width: 16px !important;
        height: 16px !important;
    } */
    .range-bar {
        padding: 7px 5px 0px;
        display: flex;
        border-bottom: 0px solid #efefef;
        justify-content: space-around;
        align-items: center;
        text-align: center;
    }

    .order-container.chef-bottum {
        padding: 2px 9px 0;
    }

    .dtezCg {
        padding: 11px 0 4px !important;
    }

    .dishes-checkout-page {
        margin: 0 0 9px 0 !important;
    }

    .dishes-checkout-page div:first-child {
        margin-right: 10px !important;
    }
}

/* Responsive styles */
@media (max-width: 480px) {
    select.rounded.border.border-1.p-1.select-city {
        font-size: 13px;
    }

    .heading {
        font-weight: 700;
        font-size: 12px;
        /* width: 57%; */
    }

    .sep-image img {
        width: 85px;
        padding: 0 10px;
        height: auto;
    }

    .range-bar .label  {
        font-size: 7px;
        font-weight: 400;
        padding: 6px 0 0;
    }

    .step1 img {
        width: 57%;
    }

    .step2 img {
        width: 52%;
    }

    .step3 img {
        width: 50%;
    }
}