/* lading page */
.decContainerSec.decPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: initial;
    padding: 8px 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.sticky-image {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 10px; /* Adjust this value as needed */
  width: 50%; /* Ensure it occupies the correct width */
}
.decorationdiscount{
  position: absolute;
    top: 6px;
    right: -11px;
    border-radius: 5px;
    padding: 3px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    background-color: rgb(249, 158, 31);
}
.pro-details-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
.pro-details-price p{
  margin: 0;
  padding: 0;
}
.decorationdiscount-details{

    border-radius: 5px;
    padding: 3px 10px;
    color: #fff;
    font-weight: 400;
    font-size: 17px;
    background-color: rgb(249, 158, 31);
}
.decContainerSec.decPage img{
  cursor: pointer;
}
.decContainerSec.decPage .imageContainer {
    width: 12%;
}
.page-width {
    width: 1200px;
    margin: auto;
    max-width: 100%;
}

.decorationlanding-slider h2 {
    font-size: 22px;
    color: #000;
    font-family: "Poppins", sans-serif;
}
.button-group-cta {
  padding-bottom: 7px !important;
  }
  .deco-city li.city-link a {
    color: #000 !important;
    font-size: 10px;
}
.localities-box.decration {
  margin: 0 0 30px 0;
  width: 100%;

}
/* new css */
@media (max-width:800px){
  .select-heading-sec{
    margin-top: 16px;
  }
  .faq-container {
    padding: 6px 13px 0;
}
  .header-section-cta {
    margin-bottom: 5px !important;
}

    .decContainerSec.decPage .imageContainer {
        width: 24%;
       margin-bottom: 4px;
}
    .decContainerSec.decPage{
        padding: 6px;
}
.decorationdiscount {
  top: 3px;
  right: -1px;
  border-radius: 3px;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 13px;
}
}
.decCatimage {
border-radius: 5px;
height: 32%;
}
.decoration-city-page-sec .page-width {
  width: 96%;
}
/* cat page */
.decContainer.gap-4 {
display: flex;
justify-content: space-between !important;
gap: 0 !important;
align-items: center;
}
.rightsecdecinner.decoration{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 4px;
}
.need-more-info-sec {
    margin: 35px 0 16px;
    border-top: 1px solid #efefef;
    padding: 17px 0 1px;
}
.checkoutRightImg {
    height: 270px !important;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  }
  /* faq product detail page */
   /* FAQ */
   .tab-section-details-productpage .tab-content {
    padding: 10px;
}
.tab-section-details-productpage{
    margin: 0 0 10px 0 !important;
    padding: 10px !important;
    background-color: #fff;
}
.tab-section-details-productpage .tabs {
    margin: 0 !important;
    gap: 28px;
}
.tab-section-details-productpage .tab {
    margin: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #fff !important;
    border-bottom: 2px solid #969696 !important;
    font-size: 14px;
}
.tab-section-details-productpage .tab.active{
    border-bottom: 2px solid rgb(157, 74, 147) !important ;
}
.tab-section-details-productpage .tabs-container{
    border: 0 !important ;
}
.faqItem {
margin-bottom: 10px;
}
.faq-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}
.faq-item {
  border-bottom: 1px solid #eeeeee;
  padding: 15px 0;
}

.faq-item:last-child {
  border-bottom: none;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #555555;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.faq-question:hover {
  background-color: #f9f9f9;
}

.faq-icon {
  font-size: 20px;
  color: rgb(157, 74, 147);
  transition: transform 0.3s ease;
}

.faq-answer {
  font-size: 14px;
  color: #777777;
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
}
.faqItem > div {
cursor: pointer;
display: flex;
align-items: center;
justify-content: space-between;
padding:  10px 0 0 ;
border-radius: 8px;
transition: background-color 0.3s ease;
}

.faqItem h3 {
margin: 0;
font-size: 16px;
font-weight: 600;
}

.faqItem span {
font-size: 20px;
font-weight: bold;
COLOR: rgb(157, 74, 147);
}

.faqItem p {
margin: 0;
font-size: 14px;
line-height: 1.6;
}

.faqItem > div + div {
padding: 12px 0;
transition: max-height 0.3s ease;
}


/* tab css */
.tabs-container {
    border: 1px solid #e7eff9;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .tabs {
    display: flex;
    cursor: pointer;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7eff9;
  }
  
  .tab.active {
    background-color: #fff;
    font-weight: bold;
    color:rgb(157, 74, 147);
  }
  
  .tab-content {
    padding: 20px;
    background-color: #fff;
  }
  /* city page */
  .faq-container.citypage {
    width: 100%;
    margin: 33px 0;
}
.faq-container.citypage h2.faq-title {
  text-align: left;
  border-bottom: 1px solid #cfcbcb;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  color:rgb(157, 74, 147);
}
ul.citylisting {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
  align-items: center;
  flex-wrap: wrap;
}
ul.citylisting li a {
  color: rgb(157, 74, 147);
    font-weight: 500;
    text-decoration: underline;
    line-height: 8px;
    font-size: 12px;
  }
  li.addon-sec , p.addon-sec , .addon-sec{
    display: flex;
    justify-content: space-between;
    padding: 1px 0px 17px;
}
.add-on-prices li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  flex-direction: column;
}
ul.decoration-addons {
  margin: 10px 0 17px !important;
  padding: 13px !important;
  background-color: #fff;
}
.add-on-prices.mobile {
  margin: 0;
  padding: 0;
}
.add-on-prices.mobile label {
  padding: 0;
  margin: 0 0 9px 0;
  font-size: 14px;
}
.add-on-prices.mobile li {
  padding: 0;
  margin: 0 0 10px 0;
  font-size: 12px;
  list-style: none;
  display: flex;
    justify-content: space-between;
}
.modal-footer {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #e7eff9;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.modal-footer h2 {
  font-size: 24px;
  color: #9252AA;
  margin-bottom: 20px;
}

.modal-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.modal-footer li {
  font-size: 20px;
  color: #9252AA;
  font-weight: 600;
  margin: 10px 0;
  align-items: end;
}

.modal-footer .total-price {
  font-size: 22px;
  font-weight: 700;
  color: #e74c3c;
}

.button_inclusion {
  border: 2px solid rgb(157, 74, 147);
  background-color: rgb(157, 74, 147);
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px auto 14px;
  width: 60%;
  font-weight: bold;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 0; /* Remove padding to align with top box */
  position: relative;
  width: 90%;
  max-width: 600px;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff0000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.modal-top-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-right: 120px;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  color: blue;
}

.back-button {
  color: pink;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.modal-middle-box {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f9f9f9;
}

.modal-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.modal-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.modal-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.modal-card h3 {
  font-size: 14px;
  color: #222;
  /* min-height: 67px; */
  padding:10px 0 0;
  margin:0;
}

.modal-card p {
  font-size: 14px;
  color: #555;
  min-height: 120px;
  padding:10px 0 0;
  margin:0;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.description {
  font-size: 14px;
  color: #555;
  position: relative;
  max-height: 3.6em;
  overflow: hidden;
}

.see-more-button {
  background: none;
  border: none;
  color: #800080;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
}
.price-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 10px;
}

.price {
  font-size: 16px;
  color: #222;
}

.add-button,
.quantity-button {
  background-color: green;
  color: #fff;
  border: none;
  padding: 0px 4px 2px;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
}
.add-on-prices {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.add-on-prices label {
  color: rgb(146, 82, 170);
  font-size: 14px;
  margin: 16px 0 6px;
  font-weight: 700;
}

.add-on-prices p {
  margin: 0;
}
.prod-detailsp {
  display: flex;
  flex-direction: column;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-item label {
  color: rgb(146, 82, 170);
  font-size: 14px;
  margin: 16px 0 6px;
  font-weight: 700;
}

.detail-item p {
  margin: 0;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
}


.modal-bottom-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
}
.book-now-button {
  background-color: #800080;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* CTA CSS */

/* Container styles */

.card-container-cta {
  margin: 0 auto;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px 13px;
  margin-bottom: 10px;
}
/* Header section */

.header-section-cta {
  display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: flex-start;
    column-gap: 10px;
}

.icon-wrapper-cta {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #bfdbfe; /* Light blue */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
}

.user-icon-cta {
  can-size: 1.5rem;
  color: #3b82f6; /* Blue */
}

.header-text-cta {
  color: #1f2937; /* Dark gray */
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.addon-section-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.highlight-cta {
  color: #ef4444; /* Red */
}

/* Subtext */
.subtext-cta {
  color: rgb(157, 74, 147);
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
}
/* Button group */

.button-group-cta {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}



/* Button styles */


  .button-cta {
    padding: 10px 0px;
    font-weight: bold;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    border: none;
    width: 44% !important;
    font-size: 13px;

}

.button-cta:hover {
  transform: scale(1.05);
}
.whatsapp-cta {
  border: 2px solid #22c55e;
    color: #22c55e;
    background-color: #fff;
}
.call-cta {
  background-color: rgb(157, 74, 147); /* Blue */
  color: white;
}
.icon-cta {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
.desktop-view{
  display: block;
  }
  .mobile-view{
    display: none;
    }

.button-whatspp-decoration-cta{
    background-color: #25d366;
    padding: 21px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    margin-bottom: 4px;
    border-radius: 9px;
    box-shadow: 5px 6px 6px 7px #efefef;
    }


  a.view-more-slide.slider-item p {
    font-size: 12px;
    font-weight: 700;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

    .button-whatspp-decoration-cta button{
      background-color: #fff;
      color: #25d366;
      border: 1px solid #25d366

  
    }

.button-chatus-decoration-cta{
      background-color: rgb(166 115 185);
    text-align: center;
    padding: 51px 0;
    color: #fff;
    border-radius: 12px;
    }

    .button-chatus-decoration-cta button{
      background-color: #fff;
      color: rgb(166 115 185);
      border:1px solid rgb(166 115 185);
   
      }
      button.button-sec {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 86%;
    margin: 4px auto;
    padding: 4px 0;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
  
}
button.button-sec svg{
  margin-right: 2px;
}


@media (max-width:800px){
  .desktop-view{
  display: none;
  }
  .mobile-view{
    display: block;
    }
  .slick-prev:before, .slick-next:before {
    font-size: 25px !important;
}
.checkoutRightImg {
  height: auto !important;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
  width: 170px !important;
}
li.addon-sec, p.addon-sec, .addon-sec {
  padding: 1px 0px 4px !important;
  font-size: 12px !important;
}
li.addon-sec {
padding: 1px 0px 4px !important;
font-size: 14px !important;
justify-content: flex-start;
display: flex;
align-items: baseline;
flex-direction: column;
margin-bottom: 7px;
}
li.addon-sec div:first-child{
font-weight: 500;
}
.modal-top-box h2 {
  font-size: 16px !important;
}
  .modal-card-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
/* cat page */
.decCatPage .decimagecontainer {
width: 46% !important;
margin: 0 6px 16px !important;

img {
height: 160px !important;
}
}

.page-width.decorationlanding-slider {
    width: 98% !important;
}
.decCatPage .decimagecontainer p {
margin: 0 !important;
padding: 0 !important;
font-size: 12px !important;
}
.decContainer {
justify-content: center !important;
width: 100%;
}
.decCatPage .decimagecontainer img.hora-watermark-image {
  width: 40px !important;
  height: 50px !important;
  RIGHT: 0;
}
img.hora-watermark-image {
  width: 40px !important;
  height: 50px !important;
  RIGHT: 0;
}
.decDetailsImage img.hora-watermark-image{
  width: 60px !important;
  height: 70px !important;
}
}


@media ( max-width:480px){
.decCatPage .decimagecontainer p.pro_price {
font-size: 18px !important;
}
.decorationlanding-slider h2 {
    font-size: 18px;
    color: #000;
    margin: 0 0 5px 0;
  
}
.tab-section-details-productpage .tab {
    font-size: 12px !important;
    padding: 11px 0 !important;
}
.faqItem h3{
  font-size: 12px !important;
font-weight: 600;
}
.tab-section-details-productpage .tabs {
  gap: 7px;
}
.tab-section-details-productpage .tab {
  font-size: 11px !important;
  padding: 11px 0 !important;
}
}



@media ( max-width:380px){
.faqItem > div + div {
    padding:  0 !important;
}
.decCatPage .decimagecontainer p.pro_price {
font-size: 17px !important;
}
.decCatPage .decimagecontainer {
width: 46% !important;
}
}

@media (max-width: 340px) {
.decCatPage .decimagecontainer p.pro_price {
font-size: 14px !important;
}
.decCatPage .decimagecontainer {
img {
    height: 130px !important;
}
}
.decorationlanding-slider h2 {
    font-size: 16px;
}
.button-cta
{
  padding: 7px 0px;
  font-size: 11px;
}
.icon-cta {
  width: 14px;
  height: 14px;
  margin-right: 3px;
}
}

/* categoryFooterData */
.category-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Roboto', sans-serif;
}

.category-content h1 {
  font-size: 21px;
  font-weight: 600;
  color: #333;
  margin-bottom: 15px;
}

.item-content {
  font-size: 16px;
  line-height: 1.8;
  color: #444;
  margin-bottom: 20px;
}

.no-content-message {
  font-size: 18px;
  color: #999;
  text-align: center;
  padding: 30px;
  border: 1px dashed #e0e0e0;
  border-radius: 8px;
}

.category-item {
  margin-bottom: 10px;
  padding: 15px 15px 0 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.item-content ul li{
  list-style: none;
}

@media only screen and (max-width: 600px) {
  .category-content {
    padding: 15px;
  }

  .category-content h1 {
    font-size: 15px;
  }

  .item-content {
    font-size: 14px;
    line-height: 1.5;
  }

  .category-item {
    margin-bottom: 10px;
  }

  .no-content-message {
    font-size: 16px;
    padding: 20px;
  }
}

.toggle-btn {
  background-color: rgb(150, 82, 141);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 15px;
  display: inline-block;
}

.toggle-btn:hover {
  background-color: rgb(120, 62, 100);
  transform: scale(1.05);
}

.toggle-btn:focus {
  outline: none;
}

.toggle-btn:active {
  transform: scale(0.95);
}