

.dec-landing-page {
  margin: auto;
}

/* ================================================================== */
/* SEE MORE BUTTON */
.see-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.see-more-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #8a2b8e; /* Purple text */
  background: linear-gradient(white, #f9f9f9);
  border: 2px solid #8a2b8e;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(138, 43, 142, 0.4);
  margin-bottom: 10px;
}

.see-more-btn:hover {
  background-color: #f0e4f5;
  box-shadow: 0 4px 10px rgba(138, 43, 142, 0.5);
}

.arrow-icon {
  background-color: #8a2b8e;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon img {
  display: block;
}

@media (max-width: 768px) {
  .see-more-btn {
    padding: 8px 16px;
    font-size: 14px;
    gap: 6px;
  }

  .arrow-icon {
    padding: 3px;
  }
}


/* ================================================================== */
.why-people-love-us {
  text-align: center;
  background-color: white;
  overflow-x: hidden;
}

.why-people-love-us h2 {
  font-size: 24px;
  font-weight: bold;
  color: #97538C;
  margin-top: 10px;
}

.stats-line-container {

  display: flex;
  justify-content: space-between;
}
.stat-item {
  width: 80px;
}


.stat-item img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  
}

.stat-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.stat-item p {
  font-size: 7px;
  color: #000;
  margin-top: 4px;
}
/* ================================================================================================== */
.small-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
 
}

.small-card-wrapper {
  text-align: center;
}

.small-card {
  background-color: #ffd7b5;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.small-card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  background-color: #fff2dd;
}

.small-card-name {
  margin-top: 8px;
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
 
/* ============================================================================================================ */
.why-choose-hora {
  display: flex;
  justify-content: center;
}

.why-choose-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  
  object-fit: cover;
}
