.inclusion-section{
padding: 0 clamp(8px, 2.5vw, 10px) 0;
}
.photodetails-inclusions{
margin:
  clamp(8.14px, 2.54vw, 12.21px)
  0;

padding: clamp(4.07px, 1.27vw, 6.11px);
}
.photodetalis-heading{
    display: inline-flex;
font-family: Inter, sans-serif;
font-weight: 600;
font-size: clamp(16px, 4.8vw, 22px);
line-height: 100%;
letter-spacing: 0%;
color: #97538C !important;
margin-bottom: 12px;
}
.addon-icon {
  width: clamp(16px, 4.2vw, 20px);
  height: clamp(16px, 4.2vw, 20px);
  vertical-align: middle;
  transform: rotate(0deg);
  opacity: 1;
  cursor: pointer;
}
.itemline{
font-family: "Poppins", sans-serif;
font-weight: 500;
font-size: clamp(11.40px, 3.56vw, 17.10px);

color: #212529;
}
.photodetails-inclusions ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}