.capture-card {
  width: 98%;
  max-width: 480px;
 margin:auto;
  background: #f3eef4;
  border: 1px solid #d9d4dc;
  border-radius: 16px;
  
 padding: clamp(7px, calc((9 / 393) * 100vw), 11px);
  display: flex;
  align-items: center;
  gap: clamp(12px, calc((16 / 393) * 100vw), 20px);

  box-sizing: border-box;
}

.capture-left {
  flex: 1;
}

.capture-tag {
  display: block;

  font-family: "Rubik", sans-serif;
  font-weight: 500;

  font-size: clamp(8px, calc((10 / 393) * 100vw), 12px);

  color: #666;
  margin-bottom: 4px;
}

.capture-title {
  margin: 0;

font-family: 'Inter', sans-serif;
font-weight: 600;

font-size: clamp(9.92px, calc((12.19 / 393) * 100vw), 14.89px);

vertical-align: middle;

  color: #4b2391;
}

.capture-desc {
  margin-top: 6px;

  font-family: 'Rubik', sans-serif;
font-weight: 300;

font-size: clamp(6.2px, calc((7.62 / 393) * 100vw), 9.3px);


  color: #666;
}

.capture-divider {
  width: 1px;
  align-self: stretch;
  background: #c8c1cc;
}

.capture-right {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.capture-starting {
  display: block;

 font-family: 'Rubik', sans-serif;
font-weight: 500;
font-size: clamp(5.5px, calc((6.86 / 393) * 100vw), 8.5px);

  color: #666;
}

.capture-price {
  margin: 2px 0 6px;

 font-family: 'Inter', sans-serif;
font-weight: 700;
font-size: clamp(9px, calc((11.13 / 393) * 100vw), 14px);

  color: #4b2391;
}

.capture-features p {
  margin: 4px 0;

font-family: 'Rubik', sans-serif;
font-weight: 300;

font-size: clamp(6.2px, calc((7.62 / 393) * 100vw), 9.3px);

line-height: clamp(7.4px, calc((9.14 / 393) * 100vw), 11.2px);

  color: #666;
}

.capture-btn {
  border: none;

  background: #a35b97;
  color: #fff;


width: clamp(75px, calc((92.25 / 393) * 100vw), 113px);
height: clamp(21px, calc((26.02 / 393) * 100vw), 32px);

gap: clamp(4px, calc((4.92 / 393) * 100vw), 6px);

border-radius: clamp(4px, calc((4.92 / 393) * 100vw), 6px);

padding: clamp(4px, calc((4.92 / 393) * 100vw), 6px);

  font-family: "Rubik", sans-serif;
  font-weight: 600;

 font-size: clamp(7.7px, calc((9.46 / 393) * 100vw), 11.6px);
  cursor: pointer;
  white-space: nowrap;
}
