.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-container {
  width: 90%;
  max-width: 360px;
  background: #fff;
  border-radius: 12px;
  padding: 16px;
}

/* HEADER */
.popup-header {
  position: relative;
  display: flex;
  align-items: center;
padding-bottom: 8px;
  min-height: 56px;
}

/* Back arrow */
.login-back-icon {
  cursor: pointer;
  z-index: 2;
}

/* Centered heading */
.popup-header h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
  color: #3D3D3D;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* BODY */
.popup-body {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}


/* BUTTON */
.popup-btn {
  background: #97538C;
  color: #fff;
  border: none;
  padding: 8px 25px;
  border-radius: 8.78px;
  font-size: 17.57px;
  cursor: pointer;
  font-weight: 500;
}
.pop-btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
}