.card-containor {
  width: 100%;
  background: #F5EDFA;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  max-width: 480px;
  margin:10px auto;
}

.hero-inner {
  position: relative;
  display: flex;
  align-items: stretch;
}

.hero-content {
  position: relative;
  z-index: 2;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
gap: clamp(6.5px, calc((8 / 393) * 100vw), 9.8px);
padding: clamp(8px, calc((10 / 393) * 100vw), 12.2px);
}

.hero-title {
  margin: 0;
   display: flex;

}
.hero-highlight {
font-size: clamp(14.7px, calc((18 / 393) * 100vw), 22px);
font-weight: 700;
  color: 511398;             
  line-height: 1;
}
 
.hero-title-text {
  font-size: clamp(11.4px, calc((14 / 393) * 100vw), 17px);
font-weight: 600;
color:#000000
}


.hero-description {
  margin: 0;
font-size: clamp(6.5px, calc((8 / 393) * 100vw), 10px);
font-weight: 400;
  color: #000000;
  width:90%
}

.hero-social-proof {
  display: flex;
  align-items: center;
  gap: clamp(6px, calc((8 / 393) * 100vw), 10px);
}

.hero-avatar-group {
  display: flex;
}

.hero-avatar {
  width: clamp(16.3px, calc((20 / 393) * 100vw), 24.5px);
  height: clamp(16.3px, calc((20 / 393) * 100vw), 24.5px);

  border-radius: 50%;
  border: 2px solid #fff;

  object-fit: cover;
  margin-left: -8px;
}

.hero-avatar-group .hero-avatar:first-child {
  margin-left: 0;
}

.hero-social-proof-text {
  font-size: clamp(6.5px, calc((8 / 393) * 100vw), 9.8px);
  font-weight: 500;
  color: #374151;
}

.hero-heart {
  font-size: clamp(10px, calc((12 / 393) * 100vw), 14px);
}

.hero-cta-button {
  margin-top: 4px;

  width: fit-content;
  display: flex;
  align-items: center;

  gap: clamp(6px, calc((8 / 393) * 100vw), 10px);

  background: #97538C;
  color: #fff;
  border: none;

  padding: clamp(5.7px, calc((7 / 393) * 100vw), 8.6px);
  border-radius: 8px;

 font-size: clamp(8.57px, calc((10.53 / 393) * 100vw), 12.86px);
  font-weight: 600;

  cursor: pointer;
}

.hero-camera-icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.hero-image-wrap {
  position: relative;
  width: clamp(165px, calc((203 / 393) * 100vw), 248px);
  overflow: hidden;
}

.hero-image {
  object-fit: cover;
}

.hero-image-fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    rgba(255, 255, 255, 0.15) 25%,
    rgba(255, 255, 255, 0) 50%
  );
}

/* Mobile */
