
.note-scroll-container {
  scroll-behavior: smooth;
}

.createNote-container {
  width: 88%;
  padding: 8px 14px 0 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin:  10px auto;
   pointer-events: auto;
       
} 

.createNote-header {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 6px;
  position: relative;
  margin: 0 auto 0px;
}
.createNote-container .textArea-title  {
   font-family: 'Kadwa', serif; 
}
.createNote-container .textArea-Content {
    font-family: "Recursive", sans-serif;
    font-size: clamp(20px, 6vw, 30px);
    overflow-y: auto;
    width: 99%;
    min-height: 35vh;
}
.emojisec {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-sec {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 0 7px 0;
}s


.createNote-icon {
  width: 25px;
  height: 25px;
}
.textArea-Content::placeholder {
  color: white;
   opacity: 1;
}
.textArea-title {
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-family: 'Kadwa', serif;
  text-transform: uppercase;
 font-size: clamp(20px, calc(16px + 2vw), 28px);
  text-align: center;
  color: #fff;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
}
 
 .textArea-Content{
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
  font-family: 'Recursive', sans-serif !important;
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-top: 15px;
    line-height: 1.4em;
    overflow: hidden;
    margin-bottom: 10px;
    align-items: center;
    padding: 13px;
}
.textArea-Author{
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
font-family: "Recursive", sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  overflow: hidden;
}


.active-border {
 border: 1px dashed rgba(255, 255, 255); 
 border-radius: 5px;
}


.always-border {
  border: 1px dashed rgba(255, 255, 255);
  border-radius: 5px;
  animation: borderMove 1.5s  linear infinite;
}


.textArea-title:empty::before,
.textArea-Content:empty::before {
  content: attr(data-placeholder);
  color: white;
  pointer-events: none;
  display: block;
}


.textArea-title img.emoji-inline,
.textArea-Content img.emoji-inline {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}


.no-keyboard {
  caret-color: auto; 
  outline: none;
}

.emoji-inserted {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
