
.note-scroll-container {
  scroll-behavior: smooth;
}

.createNote-container {
  position: relative;
  width: 100%;
  padding: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin:  40px auto;
   pointer-events: auto;
       
} 

.createNote-header {
  width: 100%;
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-bottom: 6px;
  position: relative;
}
.createNote-container .textArea-title  {
   font-family: 'Kadwa', serif; 
}
.createNote-container .textArea-Content {
    font-family: Recursive;
    font-size: clamp(20px, 6vw, 30px);
    overflow: hidden;
    width: 99%;
    height: clamp(250px, 80vw, 325px);
}



.createNote-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
}
.textArea-title {
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  font-family: 'Kadwa', serif;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  overflow: hidden;
  font-weight: 700;
}
 
 .textArea-Content{
    background: transparent;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    font-family: cursive;
    color: #fff;
    font-size: 20px;
    text-align: left;
    margin-top: 15px;
    line-height: 1.4em;
    overflow: hidden;
    margin-bottom: 10px;
    min-height: 120px;
    align-items: center;
    padding: 13px;
}
.textArea-Author{
  background: transparent;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  font-family: cursive;
  color: #fff;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  overflow: hidden;
}

.textArea-title,
.textArea-Content,
.textArea-Author {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  resize: none;
  transition: border 0.2s ease;
  -webkit-user-select: text;
  user-select: text;
  caret-color: black;
  touch-action: manipulation;
}

.active-border {
 border: 2px dashed rgba(255, 255, 255, 0.9); 
 border-radius: 5px;
}


.always-border {
  border: 2px dashed rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  animation: borderMove 1.5s  linear infinite;
}







