.common-custom-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 81px;
  z-index: 1050;
}

.common-custom-modal-content {
  background-color: #ffffff;
  width: clamp(300px, 84vw, 360px);
  max-width: 450px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.common-custom-modal-header {
  background: linear-gradient(90deg, #6d247d 0%, #bd256f 100%);
  color: white;
  padding: clamp(16px, 6vw, 23.54px) clamp(14px, 5vw, 20px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.common-modal-header-icon {
  width: clamp(10px, 4vw, 14.48px);
  height: clamp(18px, 6.5vw, 25.92px);
  cursor: pointer;
}

.common-modal-title {
  font-size: clamp(18px, 6vw, 24px);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 0px;
}

.common-modal-close-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

.common-custom-modal-body {
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.common-custom-modal-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
