.guest-rsvp-box {
    background: #fff0d4;
    /* border: 1px solid #e2b3e5; */
    border: 1px solid #CBA2AF;
    border-radius: 16px;
    padding: 20px;
    text-align: center;
  max-width: 480px;
    width: 90%;
    margin: 10px auto;
}
.rsvp-title {
  font-weight: bold;
  color: #97538C;
  margin-bottom: 16px;
  font-size: 15px;
}

.rsvp-button-group {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.rsvp-btn {
  background-color:#97538C;;
  color: #FFF0D2;
text-decoration: underline;
text-decoration-color:#FFF0D2;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 15px;
}

.coming-title {
  color: #973e96;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.guest-preview-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin: 8px 0;
  padding: 0 8px;
}

.guests-label {
  color: #444;
  font-size: 1.1rem;
}

.view-list {
  color: #444;
  text-decoration: underline;
  cursor: pointer;
}

.guest-circle-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.circle {
  width: 38px;
  height: 38px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: #444;
}

.guest-count-row {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.confirmed {
  color: green;
}

.separator {
  margin: 0 10px;
  font-weight: bold;
}

.try {
  color: #444;
}

/* Modal Styles */
.modal-overlay-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content-form {
  background: white;
  padding: 24px;
  border-radius: 20px;
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.modal-close-form {
  position: absolute;
  right: 12px;
  top: 0px;
  background: none;
  font-size: 25px;
  border: none;
  cursor: pointer;
  color: #999;
}

.modal-content-form h2 {
  font-size: 16px;
  font-weight: 600;
  color: #9b4f96; /* title color */
  margin: 10px;
}

.modal-content-form input {
  width: 100%;
  margin: 12px 0;
  padding: 14px;
  border-radius: 12px;
  border: 1.5px solid #d8b5d8;
  font-size: 14px;
  outline: none;
  box-shadow: 5px 3px 40px 0px #E767674D; /* soft glow */
}


.modal-content-form input::placeholder {
  color: #b88fb8;
}

.submit-btn {
  width: 50%;
  padding: 12px;
  background: #9b4f96;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-btn:hover {
  background: #863d82;
}

.guest-rsvp-box.highlight {
  border: 2px solid rgba(53, 43, 18, 0.237);
  /* background-color: yellow; */
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.video-overlay video {
  max-width: 100%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 999; 
}

.guest-rsvp-box.highlight {
  position: relative;
  z-index: 1000; 
  border: 3px solid #97538C;
  box-shadow: 0 0 15px #97538C;
  background: white; 
  border-radius: 10px;
  padding: 15px;
}
